<launch>

    <arg name="username" default="user" />
    <arg name="password" default="oxyw9las1i8b" />
    <arg name="hostname" default="192.168.50.3" />
    <arg name="motors_on" default ="Y" />
    <arg name="stairs_mode" default ="n" />

    <node pkg="spot_driver" type="spot_interface.py" name="spot_interface" args="--stairs_mode $(arg stairs_mode) --motors_on $(arg motors_on) --username $(arg username) --password $(arg password) $(arg hostname)" output="screen"/>

</launch>
